<!-- <div class="card">
  <img class="card-img-top" src="https://d1u5p3l4wpay3k.cloudfront.net/overwatch_gamepedia/thumb/0/07/Beyond-poster.png/300px-Beyond-poster.png?version=c2a233f06ea9a8a893f9c55af39197e6" alt="">
  <div class="card-body">
    <h5 class="card-title">Player 1</h5>

  </div>
</div> -->
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<button type="button" class="btn btn-primary" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Simple demo
</button>
