.panic {
  min-height:100vh;
  background-image: url('https://i.pinimg.com/originals/ce/1e/53/ce1e534b4b8ce6f706cf9f67583fcda8.jpg')
}

@keyframes flash {
  from {background-color: red;}
  to {background-color: yellow;}
}
