<div class="container-fluid">
  <div class="row">
    <div style="background-color: gray" class="col-4 container-fluid">
      <h4 align="center">Competitive Rank: {{ player.competitive.rank }}</h4>
      <div align="center">
        <img [src]="player.competitive.rank_img" alt="">
      </div>
    </div>
    <div style="background-color: gray" class="col-4 container-fluid">
      <h4 align="center">{{ player.username }}</h4>
      <div align="middle">
        <img align="center" [src]="player.portrait" alt="">
      </div>
      <div align="middle">
        <img align="center" [src]="player.star" alt="">
      </div>
    </div>
    <div style="background-color: gray" class="col-4 container-fluid">
      <h4 align="center">Player Level: {{ player.level }}</h4>
      <div align="center">
        <img [src]="player.levelFrame" alt="">
      </div>
    </div>
  </div>
  <div class="row container-fluid">
    <h5 style="background-color: gray" align="middle" class="col-6">
      Competitive
    </h5>
    <div>
      {{ player.playtime.quickplay }}
    </div>
    <h5 style="background-color: gray" align="middle" class="col-6">
      Quickplay
    </h5>
    <div>
      {{ player.playtime.competitive }}
    </div>
  </div>
</div>
